.main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  .logoWrapper {
    margin: 48px 0 58px 0;
  }
  .loginWrapper {
    display: flex;
    width: 80%;
    background: #161d2f;
    flex-direction: column;
    padding: 24px 24px 32px 24px;
    border-radius: 10px;

    .header {
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      margin: 0 0 40px 0;
      color: #ffffff;
    }
    .emailInput,
    .passwordInput {
      height: 37px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #5a698f;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      color: #ffffff;
      margin: 0 0 24px 0;
      &:last-of-type {
        margin: 0 0 40px 0;
      }
      &::placeholder {
        color: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
        line-height: 19px;
      }
    }

    .loginButton {
      height: 48px;
      margin: 0 0 24px 0;
      background: #fc4747;
      border-radius: 6px;
      border: none;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      color: #ffffff;
    }
    .createAccountLinkWrapper {
      display: flex;
      flex-direction: row;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      align-self: center;
      line-height: 19px;
      .createAccountLinkDescription {
        color: #ffffff;
        margin: 0 9px 0 0;
      }
      .createAccountLink {
        color: #fc4747;
      }
    }
  }
}
